body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: white;
  background-image: url(images/bg-intro-mobile.png);
  background-color: hsl(0, 100%, 74%);
}

h1 {
  font-size: 1.5em;
  text-align: center;
  padding: 85px 10px 10px;
  margin: 0 60px;
}

p {
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
}

/* Try it free */
.try {
  background-color: hsl(248, 32%, 49%);
  border-radius: 10px;
  margin: 65px 15px 25px;
  padding: 1px;
  box-shadow: 0 7px rgba(0, 0, 0, 0.1);
}

.div {
  margin-left: 60px;
  margin-right: 60px;
  line-height: 1.6;
}

/* Customer fills out details here */
form {
  background-color: white;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 7px rgba(0, 0, 0, 0.1);
}

input {
  border: 2px solid #f2f2f2;
  width: 80%;
  height: 45px;
  margin: 8px 30px;
  border-radius: 5px;
  padding-left: 10px;
}

input[type=text], input[type=email], input[type=password] {
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
  outline: none;
  border: 1px solid black;
}

input[type=button]:focus {
  outline: none;
}

::placeholder {
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.button {
  background-color: hsl(154, 59%, 51%);
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  width: 268px;
  margin: 8px 20px 8px 30px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 5px hsl(154, 40%, 51%);
  cursor: pointer;
}

/* Terms of service */
.ts1 {
  color: hsl(246, 25%, 77%);
  font-size: 11px;
  margin-left: 40px;
  margin-right: 40px;
  font-weight: 500;
}

.ts1 a {
  color: hsl(0, 100%, 74%);
  text-decoration: none;
}

/* Error */
#f-error, #l-error, #e-error, #p-error {
  color: hsl(0, 100%, 74%);
  font-size: 11px;
  margin: 0 0 0 35px;
  width: 270px;
  font-style: italic;
  text-align: right;
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media only screen and (min-width:768px) {
  body {
    background-image: url(images/bg-intro-desktop.png);
  }

  h1 {
    font-size: 3em;
    padding: 230px 0 0 0;
    margin-left: 170px;
    text-align: left;
    width: 500px;
    height: 144px;
  }

  p {
    text-align: left;
    margin: 0;
    padding-left: 170px;
    padding-top: 30px;
    width: 500px;
  }

  .try {
    position: relative;
    left: 700px;
    bottom: 470px;
    width: 567px;
    padding: 10px;
  }

  .div {
    margin: 0;
    padding: 10px 0;
    text-align: center;
    width: 550px;
  }

  form {
    margin: 0;
    padding: 30px 30px 60px 30px;
    width: 520px;
    height: 400px;
    position: relative;
    left: 720px;
    bottom: 470px;
    border-radius: 10px;
  }

  input {
    margin: 0;
    padding: 8px;
    padding-left: 30px;
    width: 475px;
  }

  ::placeholder {
    font-size: 15px;
  }

  .firstName, .lastName, .emailAddress, .passwordd {
    margin-bottom: 10px;
  }

  .button {
    width: 268px;
    margin: 0 0 10px 0;
    padding-top: 20px;
    padding-bottom: 40px;
    width: 520px;
  }

  #f-error, #l-error, #e-error, #p-error {
    padding-top: 0;
    padding-left: 0;
    margin: 3px 0 10px 0;
    width: 510px;
    text-align: right;
    font-style: italic;
  }

  .ts1 {
    margin: 10px 0;
    padding: 0;
    text-align: center;
  }

  .attribution {
    position: relative;
    bottom: 500px;
    left: 60px;
    margin: 0;
    padding: 0;
  }
}
